---
import { getI18N, getCurrentLocale } from "@/shared/i18n"
import Section from '@/shared/components/Section.astro';
import Typography from "@/shared/components/ui/Typography.astro";
import Gallery from "../Gallery.astro"
import Layout from "@/shared/layouts/Layout.astro";
import "photoswipe/style.css";
import Button from "src/shared/components/Button.astro";
import ContactSectionEs from "@/shared/components/sections/ContactSectionIrl.astro";
import { type Photo } from "@/types/types.ts";
import Breadcrumb from "@/shared/components/Breadcrumb.astro";
import BentoItem from "@/shared/components/BentoItem.astro";
import CarouselImages from "../CarouselImages";
import SliderProjects from "../sections/SliderProjects.astro";
interface Props {
    language: string
    projectsGallery: Photo[]
}

const { language} = Astro.props
const i18n = getI18N({ language })
const currentLocale = getCurrentLocale({ language })


---

<Layout title={i18n.PAGES.ALL_COURTS_TITLE} 
description={i18n.PAGES.ALL_COURTS.SEO_DESCRIPTION} 
currentLocale={currentLocale} 
language={language}
bgClass="brightness-50 md:object-[center_-100px] md:object-cover"
>
    <main class="flex flex-col gradient-bg relative">
        <div
        class="text-center left-0 top-0 w-full min-h-[40rem] lg:aspect-video flex justify-center items-center flex-col gap-4 px-4"
        >
            <Typography tag="h1" type="secondary" className="uppercase mb-6 font-bold" text={i18n.PAGES.ALL_COURTS.TITLE} responsive />
            <Typography tag="div" className="mb-6 text-sm md:text-lg lg:text-xl" text={i18n.PAGES.ALL_COURTS.DESCRIPTION} responsive />
        </div>

        <div class="bg-slate-100 w-full">
            <div class="w-full flex flex-col md:flex-row p-8">
                <div class="w-full md:w-1/2 flex items-center justify-center text-center p-4">
                    <div>
                        <Typography tag="h2" type="black" className="uppercase mb-6 font-bold" text={i18n.PAGES.TOURNAMENT_COURT.TITLE} responsive />
                        <Typography tag="div" type="black" className="mb-6 text-sm md:text-lg lg:text-xl" text={i18n.PAGES.TOURNAMENT_COURT.LITTLE_DESCRIPTION} responsive />
                        <Button size="sm" color="black"
                            url={i18n.PAGES.ALL_COURTS.BUTTON_TOURNAMENT_COURT.URL} 
                            title={i18n.PAGES.ALL_COURTS.BUTTON_TOURNAMENT_COURT.TITLE} target="_self">
                            {i18n.PAGES.ALL_COURTS.BUTTON_TOURNAMENT_COURT.LABEL}
                        </Button>
                    </div>
                </div>
                <div class="w-full md:w-1/2 flex items-center justify-center">
                    <img 
                    src="/courts-detail/tournament/tournament-court-contact.webp"
                    class="w-full h-48 md:h-80 object-contain rounded pb-7"
                    />
                </div>
            </div>
        </div>

        <div class="w-full">
            <div class="w-full flex flex-col md:flex-row p-8">
                <div class="w-full md:w-1/2 flex items-center justify-center order-2 md:order-2">
                    <img 
                    src="/courts-detail/tournament/tournament-perspective.webp"
                    class="w-full h-48 md:h-80 object-contain rounded pb-7"
                    />
                </div>
                <div class="w-full md:w-1/2 flex items-center justify-center text-center p-4 order-1 md:order-2">
                    <div>
                        <Typography tag="h2" type="secondary" className="uppercase mb-6 font-bold" text={i18n.PAGES.PANORAMIC_COURT.TITLE} responsive />
                        <Typography tag="div" className="mb-6 text-sm md:text-lg lg:text-xl" text={i18n.PAGES.PANORAMIC_COURT.LITTLE_DESCRIPTION} responsive />
                        <Button size="sm"
                            url={i18n.PAGES.ALL_COURTS.BUTTON_PANORAMIC_PADEL_COURT.URL} 
                            title={i18n.PAGES.ALL_COURTS.BUTTON_PANORAMIC_PADEL_COURT.TITLE} target="_self">
                            {i18n.PAGES.ALL_COURTS.BUTTON_PANORAMIC_PADEL_COURT.LABEL}
                        </Button>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-slate-100 w-full">
            <div class="w-full flex flex-col md:flex-row p-8">
                <div class="w-full md:w-1/2 flex items-center justify-center text-center p-4">
                    <div>
                        <Typography tag="h2" type="black" className="uppercase mb-6 font-bold" text={i18n.PAGES.CLUB_COURT.TITLE} responsive />
                        <Typography tag="div" type="black" className="mb-6 text-sm md:text-lg lg:text-xl" text={i18n.PAGES.CLUB_COURT.LITTLE_DESCRIPTION} responsive />
                        <Button size="sm" color="black"
                            url={i18n.PAGES.ALL_COURTS.BUTTON_CLUB_COURT.URL} 
                            title={i18n.PAGES.ALL_COURTS.BUTTON_CLUB_COURT.TITLE} target="_self">
                            {i18n.PAGES.ALL_COURTS.BUTTON_CLUB_COURT.LABEL}
                        </Button>
                    </div>
                </div>
                <div class="w-full md:w-1/2 flex items-center justify-center">
                    <img 
                    src="/courts-detail/club/club-perspective.webp"
                    class="w-full h-48 md:h-80 object-contain rounded pb-7"
                    />
                </div>
            </div>
        </div>

        <div class="w-full">
            <div class="w-full flex flex-col md:flex-row p-8">
                <div class="w-full md:w-1/2 flex items-center justify-center order-2 md:order-2">
                    <img 
                    src="/courts-detail/club/club-perspective.webp"
                    class="w-full h-48 md:h-80 object-contain rounded pb-7"
                    />
                </div>
                <div class="w-full md:w-1/2 flex items-center justify-center text-center p-4 order-1 md:order-2">
                    <div>
                        <Typography tag="h2" type="secondary" className="uppercase mb-6 font-bold" text={i18n.PAGES.CLUB_PLUS.TITLE} responsive />
                        <Typography tag="div" className="mb-6 text-sm md:text-lg lg:text-xl" text={i18n.PAGES.CLUB_PLUS.LITTLE_DESCRIPTION} responsive />
                        <Button size="sm"
                            url={i18n.PAGES.ALL_COURTS.BUTTON_CLUB_PLUS.URL} 
                            title={i18n.PAGES.ALL_COURTS.BUTTON_CLUB_PLUS.TITLE} target="_self">
                            {i18n.PAGES.ALL_COURTS.BUTTON_CLUB_PLUS.LABEL}
                        </Button>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-slate-100 w-full">
            <div class="w-full flex flex-col md:flex-row p-8">
                <div class="w-full md:w-1/2 flex items-center justify-center text-center p-4">
                    <div>
                        <Typography tag="h2" type="black" className="uppercase mb-6 font-bold" text={i18n.PAGES.PANORAMIC_FORCE_80_COURT.TITLE} responsive />
                        <Typography tag="div" type="black" className="mb-6 text-sm md:text-lg lg:text-xl" text={i18n.PAGES.PANORAMIC_FORCE_80_COURT.LITTLE_DESCRIPTION} responsive />
                        <Button size="sm" color="black"
                            url={i18n.PAGES.ALL_COURTS.BUTTON_TOURNAMENT_PLUS.URL} 
                            title={i18n.PAGES.ALL_COURTS.BUTTON_TOURNAMENT_PLUS.TITLE} target="_self">
                            {i18n.PAGES.ALL_COURTS.BUTTON_TOURNAMENT_PLUS.LABEL}
                        </Button>
                    </div>
                </div>
                <div class="w-full md:w-1/2 flex items-center justify-center">
                    <img 
                    src="/courts-detail/panoramic-force-80/panoramic-force-80-perspective.webp"
                    class="w-full h-48 md:h-80 object-contain rounded pb-7"
                    />
                </div>
            </div>
        </div>

        <div class="w-full">
            <div class="w-full flex flex-col md:flex-row p-8">
                <div class="w-full md:w-1/2 flex items-center justify-center order-2 md:order-2">
                    <img 
                    src="/courts-detail/single/single-court-contact.webp"
                    class="w-full h-48 md:h-80 object-contain rounded pb-7"
                    />
                </div>
                <div class="w-full md:w-1/2 flex items-center justify-center text-center p-4 order-1 md:order-2">
                    <div>
                        <Typography tag="h2" type="secondary" className="uppercase mb-6 font-bold" text={i18n.PAGES.SINGLE_COURT.TITLE} responsive />
                        <Typography tag="div" className="mb-6 text-sm md:text-lg lg:text-xl" text={i18n.PAGES.SINGLE_COURT.LITTLE_DESCRIPTION} responsive />
                        <Button size="sm"
                            url={i18n.PAGES.ALL_COURTS.BUTTON_SINGLE.URL} 
                            title={i18n.PAGES.ALL_COURTS.BUTTON_SINGLE.TITLE} target="_self">
                            {i18n.PAGES.ALL_COURTS.BUTTON_SINGLE.LABEL}
                        </Button>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-slate-100 w-full">
            <div class="w-full flex flex-col md:flex-row p-8">
                <div class="w-full md:w-1/2 flex items-center justify-center text-center p-4">
                    <div>
                        <Typography tag="h2" type="black" className="uppercase mb-6 font-bold" text={i18n.PAGES.MINI_COURT.TITLE} responsive />
                        <Typography tag="div" type="black" className="mb-6 text-sm md:text-lg lg:text-xl" text={i18n.PAGES.MINI_COURT.LITTLE_DESCRIPTION} responsive />
                        <Button size="sm" color="black"
                            url={i18n.PAGES.ALL_COURTS.BUTTON_MINI_COURT.URL} 
                            title={i18n.PAGES.ALL_COURTS.BUTTON_MINI_COURT.TITLE} target="_self">
                            {i18n.PAGES.ALL_COURTS.BUTTON_MINI_COURT.LABEL}
                        </Button>
                    </div>
                </div>
                <div class="w-full md:w-1/2 flex items-center justify-center">
                    <img 
                    src="/courts-detail/mini/mini-court-contact.webp"
                    class="w-full h-48 md:h-80 object-contain rounded pb-7"
                    />
                </div>
            </div>
        </div>
    </main>
</Layout>
