---
import { getI18N, getCurrentLocale } from "@/shared/i18n";
import Section from "@/shared/components/Section.astro";
import Typography from "@/shared/components/ui/Typography.astro";
import Gallery from "../Gallery.astro";
import Layout from "@/shared/layouts/Layout.astro";
import "photoswipe/style.css";
import Button from "src/shared/components/Button.astro";
import { type Photo } from "@/types/types.ts";
import Breadcrumb from "@/shared/components/Breadcrumb.astro";

interface Props {
  language: string;
  gallery: Photo[];
}

const { language, gallery } = Astro.props;
const i18n = getI18N({ language });
const currentLocale = getCurrentLocale({ language });
---

<Layout
  title={i18n.PAGES.SECTION_FL.SEO_TITLE_CA}
  description={i18n.PAGES.SECTION_FL.SEO_DESCRIPTION_CA}
  currentLocale={currentLocale}
  language={language}
  bgImage="/florida/Epic-Athletic-Club-3.webp"
  bgClass="brightness-50"
>
  <main class="flex flex-col gradient-bg relative">
    <div
      class="text-center left-0 top-0 w-full min-h-[40rem] lg:aspect-video flex justify-center items-center flex-col gap-4 px-4"
    >
      <Typography
        tag="h1"
        type="secondary"
        className="uppercase mb-6 font-bold"
        text={i18n.PAGES.SECTION_FL.TITLE}
        responsive
      />
    </div>
    <div class="bg-main relative bg-background">
      <Breadcrumb
        crumbs={[
          {
            label: i18n.PAGES.HOME.ROUTE.BREADCRUMB,
            href: i18n.PAGES.HOME.ROUTE.URL,
          },
          {
            label: i18n.PAGES.SECTION_FL.ROUTE.LABEL,
            href: i18n.PAGES.SECTION_FL.ROUTE.URL,
          },
        ]}
      />

      <Section
        id={i18n.PAGES.SECTION_FL.ID}
        heading2={i18n.PAGES.SECTION_FL.SECTION_1.TITLE}
      >
        <Typography
          tag="div"
          className="mb-6 text-center"
          text={i18n.PAGES.SECTION_FL.SECTION_1.DESCRIPTION}
        />
      </Section>

      <Section heading2={i18n.PAGES.SECTION_FL.PROJECTS_SECTION.TITLE_GALLERY}>
        <Typography
          tag="div"
          className="text-center"
          text={i18n.PAGES.SECTION_FL.PROJECTS_SECTION.DESCRIPTION}
        />

        <Gallery
          language={language}
          photos={gallery}
          offset={3}
          path={i18n.PAGES.SECTION_FL.PROJECTS_SECTION.PATH}
        />
      </Section>
      <Typography
        tag="h2"
        className="text-center font-bold mt-16 mb-10"
        text={i18n.PAGES.SECTION_FL.SECTION_2.TITLE}
      />
      <Typography
        tag="div"
        className="text-center mb-2 m-auto w-[85%] "
        text={i18n.PAGES.SECTION_FL.SECTION_2.SUBTITLE}
      />

      <div class="max-w-7xl mx-auto p-16">
        <div class="grid grid-cols-1 md:grid-cols-2">
          <div class="text-center bg-blue-400 opacity-90">
            <p class="text-3xl font-bold mt-2">
              {i18n.PAGES.SECTION_FL.SECTION_2.ITEM_1}
            </p>

            <Typography
              tag="div"
              className="text-center mb-10 m-auto w-[85%] "
              text={i18n.PAGES.SECTION_FL.SECTION_2.DESCRIPTION_1}
            />
          </div>
          <div class="text-center bg-blue-500 opacity-90">
            <p class="text-3xl font-bold mt-2">
              {i18n.PAGES.SECTION_FL.SECTION_2.ITEM_2}
            </p>
            <Typography
              tag="div"
              className="text-center mb-10 m-auto w-[85%] "
              text={i18n.PAGES.SECTION_FL.SECTION_2.DESCRIPTION_2}
            />
          </div>
          <div class="text-center bg-blue-600 opacity-90">
            <p class="text-3xl font-bold mt-2">
              {i18n.PAGES.SECTION_FL.SECTION_2.ITEM_3}
            </p>
            <Typography
              tag="div"
              className="text-center mb-10 m-auto w-[85%] "
              text={i18n.PAGES.SECTION_FL.SECTION_2.DESCRIPTION_3}
            />
          </div>
          <div class="text-center bg-blue-700 opacity-90">
            <p class="text-3xl font-bold mt-2">
              {i18n.PAGES.SECTION_FL.SECTION_2.ITEM_4}
            </p>
            <Typography
              tag="div"
              className="text-center mb-10 m-auto w-[85%] "
              text={i18n.PAGES.SECTION_FL.SECTION_2.DESCRIPTION_4}
            />
          </div>
          <div class="text-center bg-blue-800 opacity-90">
            <p class="text-3xl font-bold mt-2">
              {i18n.PAGES.SECTION_FL.SECTION_2.ITEM_5}
            </p>
            <Typography
              tag="div"
              className="text-center mb-10 m-auto w-[85%] "
              text={i18n.PAGES.SECTION_FL.SECTION_2.DESCRIPTION_5}
            />
          </div>

          <div class="text-center bg-blue-900 opacity-90">
            <p class="text-3xl font-bold mt-2">
              {i18n.PAGES.SECTION_FL.SECTION_2.ITEM_6}
            </p>
            <Typography
              tag="div"
              className="text-center mb-10 m-auto w-[85%] "
              text={i18n.PAGES.SECTION_FL.SECTION_2.DESCRIPTION_6}
            />
          </div>
        </div>

        <Typography
          tag="p"
          className="text-center mt-4"
          text={i18n.PAGES.SECTION_FL.SECTION_2.DESCRIPTION}
        />
      </div>

      <Section
        heading2={i18n.PAGES.SECTION_FL.SECTION_3.TITLE}
        
      >
        <Typography
          tag="h3"
          className="text-center mt-4"
          text={i18n.PAGES.SECTION_FL.SECTION_3.SUBTITLE}
        />

        <Typography
          tag="p"
          className="text-center mt-4"
          text={i18n.PAGES.SECTION_FL.SECTION_3.DESCRIPTION}
        />

        <div
          class="mt-0 grid grid-rows-3 gap-4 justify-center items-center sm:grid-cols-2 xs:grid-cols-1"
        >
          <Button
            class="button"
            url={i18n.PAGES.SECTION_FL.SECTION_3.BUTTON_1.URL}
            target="_self"
            title={i18n.PAGES.SECTION_FL.SECTION_3.BUTTON_1.TITLE}
          >
            {i18n.PAGES.SECTION_FL.SECTION_3.BUTTON_1.TEXT}
          </Button>
          <Button
            class="button"
            url={i18n.PAGES.SECTION_FL.SECTION_3.BUTTON_2.URL}
            target="_self"
            title={i18n.PAGES.SECTION_FL.SECTION_3.BUTTON_2.TITLE}
          >
            {i18n.PAGES.SECTION_FL.SECTION_3.BUTTON_2.TEXT}
          </Button>
          <Button
            class="button"
            url={i18n.PAGES.SECTION_FL.SECTION_3.BUTTON_3.URL}
            target="_self"
            title={i18n.PAGES.SECTION_FL.SECTION_3.BUTTON_3.TITLE}
          >
            {i18n.PAGES.SECTION_FL.SECTION_3.BUTTON_3.TEXT}
          </Button>
          <Button
            class="button"
            url={i18n.PAGES.SECTION_FL.SECTION_3.BUTTON_4.URL}
            target="_self"
            title={i18n.PAGES.SECTION_FL.SECTION_3.BUTTON_4.TITLE}
          >
            {i18n.PAGES.SECTION_FL.SECTION_3.BUTTON_4.TEXT}
          </Button>
          <Button
            class="button"
            url={i18n.PAGES.SECTION_FL.SECTION_3.BUTTON_5.URL}
            target="_self"
            title={i18n.PAGES.SECTION_FL.SECTION_3.BUTTON_5.TITLE}
          >
            {i18n.PAGES.SECTION_FL.SECTION_3.BUTTON_5.TEXT}
          </Button>
        </div>
      </Section>
    </div>
  </main>
</Layout>
<style>
  .button {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
  }
</style>
