---
import Section from "@/shared/components/Section.astro";
import Typography from "@/shared/components/ui/Typography.astro";
import Button from "src/shared/components/Button.astro";
import { getI18N } from "../../i18n";

const { language, showStatsSection = true } = Astro.props;
const i18n = getI18N({ language });
---
<div class="bg-white p-4">
  <div class="flex flex-col md:flex-row ">
    <div class="w-full md:w-1/2">
      <Section id={i18n.PAGES.HOME.INTRO_SECTION.ID} className="text-center p-6 md:p-12">
        <Typography
          tag="h2"
          type="black"
          className="mx-auto mb-10 text-wrap font-semibold"
          text={i18n.PAGES.HOME.INTRO_SECTION.TITLE}
        />
        <Typography
          tag="div"
          type="black"
          className="max-w-[60ch] mx-auto"
          text={i18n.PAGES.HOME.INTRO_SECTION.DESCRIPTION}
        />
      </Section>
    </div>

    <div class="hidden md:flex justify-center items-center px-4">
      <div class="h-[80%] w-3.5 bg-gradient-to-b from-[#315A75] via-[#151a36] to-[#151a36]"></div>
    </div>

    <div class="w-full md:w-1/2 flex flex-col items-center justify-center p-6 md:p-12">
      <Section id={i18n.PAGES.HOME.INTRO_SECTION.ID} className="text-center">
        <Typography
          tag="h2"
          type="black"
          className="mx-auto mb-6 text-wrap text-4xl font-semibold"
          text={i18n.PAGES.HOME.INTRO_SECTION.TITLE_2}
        />

        {showStatsSection && (
          <>
            <div class="flex flex-col md:flex-row gap-10 mt-6 mb-12 justify-center items-center">
              <div>
                <div class="flex flex-col md:flex-row justify-center items-center">
                  <h3 class="text-5xl font-bold strong pr-4">+15</h3>
                  <Typography
                    tag="h3"
                    className="text-black text-2xl font-bold strong"
                    text={i18n.PAGES.HOME.INTRO_SECTION.TITLE_3}
                  />
                </div>
                <Typography
                  tag="p"
                  type="black"
                  className="text-gray-500 text-md font-semibold"
                  text={i18n.PAGES.HOME.INTRO_SECTION.DESCRIPTION_2}
                />
              </div>
              <div>
                <div class="flex flex-col md:flex-row justify-center items-center">
                  <h3 class="text-5xl font-bold strong pr-4">35</h3>
                  <Typography
                    tag="h3"
                    className="text-black text-2xl font-bold strong"
                    text={i18n.PAGES.HOME.INTRO_SECTION.TITLE_4}
                  />
                </div>
                <Typography
                  tag="p"
                  type="black"
                  className="text-gray-500 text-md font-semibold"
                  text={i18n.PAGES.HOME.INTRO_SECTION.DESCRIPTION_3}
                />
              </div>
            </div>

            <h3 class="text-5xl font-bold strong">+4,000</h3>
            <Typography
                    tag="h3"
                    className="text-black text-2xl font-bold strong"
                    text={i18n.PAGES.HOME.INTRO_SECTION.TITLE_5}
                  />
            <Typography
                  tag="p"
                  type="black"
                  className="text-gray-500 text-md font-semibold"
                  text={i18n.PAGES.HOME.INTRO_SECTION.DESCRIPTION_4}
                />
          </>
        )}
      </Section>
    </div>
  </div>

  <div class="text-center w-full">
    <Button
      size="sm"
      color="black"
      url={i18n.PAGES.HOME.INTRO_SECTION.BUTTON.URL}
      title={i18n.PAGES.HOME.INTRO_SECTION.BUTTON.TITLE}
      target="_self"
    >
      {i18n.PAGES.HOME.INTRO_SECTION.BUTTON.LABEL}
    </Button>
  </div>
</div>

<style>
  .strong {
    color: rgb(49, 175, 213);
  }
</style>
