---
import Section from "@/shared/components/Section.astro";
import Typography from '@/shared/components/ui/Typography.astro';
import { type Photo } from "@/types/types.ts";


interface Props {
  id: string;
  title: string;
  description?: string;
  outdoorText: string;
  indoorText: string;
  outdoorTitle: string;
  indoorTitle: string;
  imageSizing: Photo;
}

const { title, outdoorText, indoorText, imageSizing, id, indoorTitle, outdoorTitle, description } = Astro.props
---

<Section id={id} className="max-w-none relative border-b-4 border-white">
  <div class="flex relative flex-col items-center justify-center lg:flex-row gap-8 max-w-[1400px] mx-auto">
    <img loading="lazy" src={imageSizing.src} alt={imageSizing.alt} class="aspect-video md:h-72 xl:h-96 z-10" />
    <div class=" z-10">
      <Typography tag="h3" className="font-bold mb-8 uppercase" type="secondary" text={title} />
      {
        description ? <Typography tag="p" className="mt-4 text-left" text={description} responsive /> : null
      }
      {
        outdoorText ? 
        <Typography tag="p" className="font-bold mt-2" type="primary" text={outdoorTitle} />
        <Typography tag="div" className="mt-4 text-left" text={outdoorText} responsive /> : null
      }
      {
        indoorText ? 
        <Typography tag="p" className="font-bold mt-2" type="primary" text={indoorTitle} />
        <Typography tag="div" className="mt-4 text-left" text={indoorText} responsive /> : null
      }
  </div>
</Section>
